{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<style>
.image-title{
    margin-top: 75%;
}
</style>
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-12 d-lg-none text-center">
            <a class="navbar-brand btn" href="{% url 'home' %}">
                <h2 class="title-font"><strong>Starter.</strong></h2>
                <p class="m-0 p-0 text-xs">Sourdough made Simple</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">   
    <div class="row pb-5">
        <div class="col-12 col-md-6">
            <div class="card">
                <a href="{% url 'products' %}?category=ingredients">
                    <img src="{% static 'images/2.png' %}" class="card-img img-fluid" alt="">    
                    <div class="card-img-overlay">
                        <h2 class="card-title text-white text-center image-title title-font"><u>Ingredients</u></h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <a href="{% url 'products' %}?category=tools">
                    <img src="{% static 'images/29.png' %}" class="card-img img-fluid" alt="">    
                    <div class="card-img-overlay">
                        <h2 class="card-title text-white text-center image-title title-font"><u>Tools</u></h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
  
    <div id="featured-recipe" class="row py-5">
        {% for recipe in featured_recipes|slice:":1" %}
                <div class="col-12 col-md-7">
                    <div class="card">
                        <a href="{% url 'recipe' recipe.id %}">
                            {% if recipe.image %}
                                <img src="{{ recipe.image.url }}" class="card-img img-fluid" alt="{{ recipe.title }}">
                            {% else %}
                                <img src="{% static 'images/noimage.png' %}" class="card-img img-fluid" alt="{{ recipe.title }}">
                            {% endif %}
                            <div class="card-img-overlay">
                                <h5 class="card-title text-white title-font">{{ recipe.title|title }}</h5>
                                <p class="card-text text-white">{{ recipe.description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <a href="{% url 'subscriptions' %}">
                        <img src="{% static 'images/member-promo.png' %}" alt="Membership Promo" class="img-fluid">
                    </a>
                </div>
        {% endfor %}
    </div>

    <div id="featured-products" class="row py-5">   
        {% for product in featured_products|slice:":4" %}
            <div class="col-6 col-md-3">
                <div class="card border-0">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ product.name|title }}</strong></h5>
                        <p class="card-text"><strong>£{{ product.price }}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>

{% endblock %}