{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
.hero-image {
    background-image: url("{% static 'images/home-img.png' %}");    
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="hero-image">
    <div class="logo-font hero-text">
        <h2>
            Sourdough made Simple
        </h2>
    </div>
    <div class="down-link"><a href="#featured-products"><i class="fas fa-chevron-down btn"></i></a></div>
</div>

<div class="container">
    <div id="featured-products" class="row">   
        {% for product in featured_products %}
            <div class="col-6 col-md-3">
                <div class="card border-0">
                    {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><strong>{{ product.name|title }}</strong></h5>
                        <p class="card-text"><strong>£{{ product.price }}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>

    <div class="row">
        {% for recipe in featured_recipes %}
                <div class="col-12 col-md-6 mb-3">
                    <div class="card card-recipe">
                        {% if recipe.image %}
                            <a href="{% url 'recipe' recipe.id %}">
                                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                            </a>
                        {% else %}
                            <a href="{% url 'recipe' recipe.id %}">
                                <img src="{% static 'images/noimage.png' %}" class="card-img-top" alt="{{ recipe.title }}">
                            </a>    
                        {% endif %}
                        <div class="card-body">
                            {% if recipe.premium %}
                                <span class="badge bg-secondary my-3">Premium</span>
                            {% else %}
                                <span class="badge bg-secondary my-3">Free</span>
                            {% endif %}
                            <h5 class="card-title"><a class="btn ps-0" href="{% url 'recipe' recipe.id %}">{{ recipe.title|title }}</a></h5>                        
                            <h6 class="card-subtitle mb-2 text-muted">{{ recipe.description }}</h6>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>


    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

</div>

{% endblock %}