{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="my-4 ms-4">{{ profile }}</h2>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="d-flex justify-content-center">Account Details</h5>
            <form action="{% url 'profile' %}" method="POST" id="profile-updated-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <h5 class="d-flex justify-content-center">Subscription</h5>
            {% if profile.membership %}
                {% for recipe in recipes.all %}

                    <li><a href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a></li>
                {% endfor %}
                <a href="{% url 'membership_settings' %}">Settings</a>
            {% else %}
                    subscribe
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 class="d-flex justify-content-center">Order History</h5>
               <div class="order-history table-responsive">
                    <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>                                    <td>


                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_colours %}
                                                        {{ item.product.colour }}
                                                    {% endif %}{{ item.product.name }} x {{ item.quantity }}           
                                                </li>
                                            {% endfor %}
                                    
                                        </ul>
                    
                                    </td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

<div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}