{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>

    @media (min-width: 768px) { .sub-text{
      padding-bottom: 30%;
  } }

     @media (min-width: 768px) { .card{
      margin-bottom: 5%;
  } }
  
  .card {
      width: 20rem;
  }

  .member-promo {
      width: 25rem;
  }
</style>
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <div class="row">
            <div class="col-12 col-md-6 text-center ">
                <i class="fas fa-user-edit"></i>
                <h5 class="title-font">Account Details</h5>
            </div>
            <div class="col-12 col-md-6 text-center">
                <i class="fas fa-crown"></i>
                <h5 class="title-font">Premium Members</h5>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <form action="{% url 'profile' %}" method="POST" id="profile-updated-form" class="p-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-dark text-light p-2 float-md-end">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-md-6">
                {% if profile.membership %}
                    <div class="card mx-auto">
                        {% if latest_recipe.image %}
                            <a href="{% url 'recipe' latest_recipe.id %}">
                                <img src="{{ latest_recipe.image.url }}" class="card-img-top" alt="{{ latest_recipe.title }}">
                            </a>
                        {% else %}
                            <a href="{% url 'recipe' latest_recipe.id %}">
                                <img src="{% static 'images/noimage.png' %}" class="card-img-top" alt="{{ latest_recipe.title }}">
                            </a>    
                        {% endif %}
                        <div class="card-body">
                            <span class="badge bg-secondary">New Recipe</span>
                            <h5 class="card-title"><a class="btn ps-0" href="{% url 'recipe' latest_recipe.id %}">{{ latest_recipe.title|title }}</a></h5>
                        </div>
                    </div>
                    <a href="{% url 'subscription_settings' %}" class="btn btn-dark text-light p-2 float-md-end mt-2 mt-md-0">Settings</a>
                {% else %}
                    <a href="{% url 'subscriptions' %}" class="d-flex justify-content-center">
                        <img src="{% static 'images/member-promo.png' %}" alt="Membership Promo" class="img-fluid member-promo">
                    </a>
                {% endif %}
            </div>         
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <h5 class="text-center">Order History</h5>
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>                                    
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.product.has_colours %}
                                                    {{ item.product.colour }}
                                                {% endif %}{{ item.product.name }} x {{ item.quantity }}           
                                            </li>
                                        {% endfor %}
                                
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

