{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% if cancel_at_period_end %}
        <p>Membership will run to end of billing cycle: {{ period_end }} </p>
    {% elif membership %}
        <form action="{% url 'subscription_settings' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Cancel Membership?">
        </form>
    {% else %}
        <a href="{% url 'recipes' %}">Subscribe</a>
    {% endif %}
</div>  

{% endblock %}