{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="my-4 ms-4">Checkout</h2>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in basket_items %}
                <div class="row">
                    <div class="col-2 mb-1">
                        <a href="{% url 'product_detail' item.product.id %}">
                            {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-7">
                        <p class="m-0"><strong>{{ item.product.name }}</strong></p>
                        {% if item.product.has_colours %}
                            <p class="my-0 text-xs text-muted">{{ item.colour|title }}</p>
                        {% endif %}
                        <p class="my-0 text-xs text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0 small text-muted">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col-4 offset-5">
                    <p class="my-0">Subtotal:</p>
                    <p class="my-0">Shipping:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <div class="col-3 text-end">
                    <p class="my-0">£{{ total | floatformat:2 }}</p>
                    <p class="my-0">£{{ shipping | floatformat:2 }}</p>
                    <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-label small px-2 w-auto">CONTACT INFORMATION 
                        {% if not user.is_authenticated %} 
                            <p class="text-xs">Already registered?
                            <a href="{% url 'account_login' %}">Login</a> or 
                            <a href="{% url 'account_signup' %}">create an account</a> to save your information.</p>
                        {% endif %}
                    </legend>      
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-label small px-2 w-auto">SHIPPING</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    <div class="form-check form-check-inline float-end mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label small" for="id-save-info">Save shipping information</label>
                            <input class="form-check-input mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                    <!-- Stripe card element -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="row submit-button">
                    <div class="col-12 col-md-6 order-md-last my-2">
                        <button id="submit-button" class="btn btn-dark text-light p-2 float-end me-2">
                            <span class="p-3">Complete Order</span>
                        </button>
                    </div>
                    <div class="col-12 col-md-6 my-auto">
                        <a href="{% url 'view_basket' %}" class="btn float-end float-md-none">
                            <span><i class="fas fa-chevron-left mx-1"></i>Return to Basket</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light loading-spinner">
            <i class="fas fa-sync-alt fa-spin"></i>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}