{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-2 title-font text-center">Recipe Management</h2>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-12 col-md-6 mt-4 mt-md-0">
            <h5 class="text-center">Add a Recipe</h5>
            <hr>
            <form id="recipe-form" method="POST" action="{% url 'add_recipe' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <hr>
                <h4>Ingredients</h4>
                {{ formset.management_form }}
                <div id="form_set">
                    {% for form in formset %}
                        <table class="no_error">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Unit of Measurement
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    {{ form.name }}
                                </td>
                                <td>
                                    {{ form.quantity }}
                                </td>
                                <td>
                                    {{ form.unit_of_measurement }}
                                </td>
                            </tbody>
                       </table>
                    {% endfor %}
                </div>
                <input type="button" class="btn btn-dark p-2" value="Add More" id="add_more">
                <div id="empty_form" style="display:none">
                    <table class="no_error">
                        <tbody>
                            <td>
                                {{ formset.empty_form.name }}
                            </td>
                            <td>
                                {{ formset.empty_form.quantity }}
                            </td>
                            <td>
                                {{ formset.empty_form.unit_of_measurement }}
                            </td>
                        </tbody>
                    </table>
                </div>
                <button id="submit-form" class="btn btn-dark p-2" type="submit">Add Recipe</button>
            </form>
        </div>    
    </div>
</div>

<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            let file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
    <script type="text/javascript">
        /* code from:
         https://simpleit.rocks/python/django/dynamic-add-form-with-add-button-in-django-modelformset-template/
        */
        $('#add_more').click(function() {
            let form_idx = $('#id_ingredients-TOTAL_FORMS').val();
            $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_ingredients-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    </script>

 
{% endblock %}

