{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
     
    <div class="row my-3">
        <div class="col-12">
            <h3 class="my-2 title-font text-center">{{ recipe.title|title }}</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9">
            {% if recipe.image %}
                <a href="{{ recipe.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                </a>
            {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ recipe.title  }}">
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-9">
            <div class="accordion" id="accordionRecipe">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingIngredients">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseIngredients" aria-expanded="true" aria-controls="collapseInstructions">
                            Ingredients
                        </button>
                    </h2>
                    <div id="collapseIngredients" class="accordion-collapse collapse show" aria-labelledby="headingIngredients"
                        data-bs-parent="#accordionRecipe">
                        <div class="accordion-body">
                            <ul>
                                {% for ingredient in recipe.ingredient_list.all %}
                                    <li>
                                        {{ ingredient.name|title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingInstructions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseInstructions" aria-expanded="false" aria-controls="collapseInstructions">
                            Method
                        </button>
                    </h2>
                    <div id="collapseInstructions" class="accordion-collapse collapse" aria-labelledby="headingInstructions"
                        data-bs-parent="#accordianRecipe">
                        <div class="accordion-body">
                            {{ recipe.instructions }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if request.user.is_superuser %}
        <div class="row mt-3">
            <div class="col-12 text-center">
                <small>
                    <a class="text-reset" href="{% url 'edit_recipe' recipe.id %}">Edit Recipe</a> | 
                    <a class="text-danger modal-link" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete Recipe
                    </a>
                    <!-- Delete modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Recipe</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure your want to delete recipe: {{ recipe.title|title }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger text-light p-2" href="{% url 'delete_recipe' recipe.id %}">Delete Recipe</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </small>
            </div>
        </div>
    {% endif %}
</div>

<div class="up-button">
    <a class="up-link d-flex h-100 btn">
        <i class="fas fa-chevron-up mx-auto my-auto"></i>
    </a>
</div>

<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}