{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-12">
                {% if profile.membership %}
                    <h4 class="text-center title-font">Your are a Premium Member <i class="fas fa-crown"></i></h4>
                {% else %}
                    <h4 class="text-center title-font">Become a <a href="{% url 'subscriptions' %}" class="text-reset hvr p-2">Premium Member</a> for access to all our recipes.</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for recipe in recipes.all %}
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card card-recipe">
                            {% if recipe.image %}
                                <a href="{% url 'recipe' recipe.id %}">
                                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'recipe' recipe.id %}">
                                    <img src="{% static 'images/noimage.png' %}" class="card-img-top" alt="{{ recipe.title }}">
                                </a>    
                            {% endif %}
                            <div class="card-body">
                                {% if recipe.premium %}
                                    <span class="badge bg-secondary my-3">Premium</span>
                                {% else %}
                                    <span class="badge bg-secondary my-3">Free</span>
                                {% endif %}
                                <h5 class="card-title"><a class="btn ps-0" href="{% url 'recipe' recipe.id %}">{{ recipe.title|title }}</a></h5>                        
                                <h6 class="card-subtitle mb-2 text-muted">{{ recipe.description }}</h6>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
    <div class="up-button">
        <a class="up-link d-flex h-100 btn">
            <i class="fas fa-chevron-up mx-auto my-auto"></i>
        </a>	
    </div>

    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
