{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block extra_css %}
    <style>
        .img-fluid{
           max-width: 70%;
           max-height: auto; 
        }

        .border-custom-top {
            border-top: solid 1px black;
        }

        .border-custom-bottom {
            border-bottom: solid 1px black;
        }
    </style>
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="my-3">Your Shopping Basket</h2>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="table-responsive">
                <table class="table table-borderless border-custom-top">
                    <thead class="text-xs text-muted">
                        <tr 0>
                            <th scope="col">Item</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>

                    <tbody class="border-custom-bottom">
                        {% for item in basket_items %}
                            {% include 'basket/includes/basket_items_details.html' %}
                        {% endfor %}
                        </tbody>
                </table>
            </div>
                <div class="row">
                    <div class="col-12 col-md-6 mt-3">
                        <h3>Total</h3>
                        <div class="row">
                            <div class="col-6">
                                <h6>Product Total:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ total|floatformat:2 }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Shipping:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ shipping|floatformat:2 }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Grand Total:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ grand_total|floatformat:2 }}</h6>
                            </div>
                        </div>
                        {% if free_shipping_delta > 0 %}
                            <p class="pt-2">
                                Spend <strong>£{{ free_shipping_delta|floatformat:2 }}</strong> more for free shipping.
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <a href="{% url 'checkout' %}" class="btn btn-dark text-light p-2 me-2">
                            <span class="p-3">Continue to Secure Checkout</span>
                            <i class="fas fa-lock p-3"></i>
                        </a>
                        <p class="pt-3">
                            <a href="{% url 'products' %}" class="btn">
                                <i class="fas fa-chevron-left"></i>
                                <span>Keep Shopping</span>
                            </a>
                        </p>
                    </div>
                </div>
            {% else %}
                <p>Your basket is currently empty.</p>
                <a href="{% url 'products' %}" class="text-decoration-none text-reset">
                    <p class="mb-0">Keep Shopping <i class="fas fa-chevron-right small"></i></p>
                </a>
                <a href="" class="text-decoration-none text-reset">
                    <p>Add a Subscription <i class="fas fa-chevron-right small"></i></p>
                </a>
            {% endif %}
        </div>
    </div>

<div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            let form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('_')[1];
            let categoryId = $(this).attr('id').split('_')[2];
            let colour = $(this).data('product_colour');
            let url = `/basket/remove/${itemId}/${categoryId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken, 'product_colour': colour};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>

{% endblock %}