{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        .img-fluid{
           max-width: 60%;
           max-height: auto; 
        }
        .x-small{
            font-size: .75rem;
        }

        .border-custom-top {
            border-top: solid 1px black;
        }

        .border-custom-bottom {
            border-bottom: solid 1px black;
        }
    </style>
{% endblock %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h2 class="my-3">Your Shopping Basket</h2>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="table-responsive">
                <table class="table table-borderless border-custom-top">
                    <thead class="x-small text-muted">
                        <tr class="">
                            <th scope="col">Item</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    <tbody class="border-custom-bottom">
                        {% for item in basket_items %}
                            <tr>
                                <td class="w-25">
                                    <img class="img-fluid" src="{{ item.product.image.url }}">
                                </td>
                                <td class="">
                                    <p class=""><strong>{{ item.product.name }}</strong></p>
                                    <p class="x-small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="">
                                    <p class="">£{{ item.product.price }}</p>
                                </td>
                                <td class="">
                                    <p class="">{{ item.quantity }}</p>
                                </td>
                                <td class="">
                                    <p class="">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                </table>
            </div>
                <div class="row">
                    <div class="col-12 col-md-6 mt-3">
                        <h3>Total</h3>
                        <div class="row">
                            <div class="col-6">
                                <h6>Product Total:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ total|floatformat:2 }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Shipping Total:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ shipping|floatformat:2 }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Grand Total:</h6>
                            </div>
                            <div class="col-6">
                                <h6>£{{ grand_total|floatformat:2 }}</h6>
                            </div>
                        </div>
                        {% if free_shipping_delta > 0 %}
                            <p class="pt-2">
                                Spend <strong>£{{ free_shipping_delta }}</strong> more for free shipping.
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                            <a href="" class="btn border border-dark">
                                <span class="p-3">Continue to Secure Checkout</span>
                                <i class="fas fa-lock p-3"></i>
                            </a>
                            <p class="pt-3">
                                <a href="{% url 'products' %}" class="btn">
                                    <i class="fas fa-chevron-left"></i>
                                    <span>Keep Shopping</span>
                                </a>
                            </p>
                    </div>
                </div>
            {% else %}
                <p>Your basket is currently empty.</p>
                <a href="{% url 'products' %}" class="text-decoration-none text-reset">
                    <p class="mb-0">Keep Shopping <i class="fas fa-arrow-right small"></i></p>
                </a>
                <a href="" class="text-decoration-none text-reset">
                    <p>Add a Subscription <i class="fas fa-arrow-right small"></i></p>
                </a>
            {% endif %}
        </div>
    </div>

<div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock %}