@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Special+Elite&display=swap&family=Knewave&display=swap');

html,body {
    width: 100%;
    height: 100%;
    margin: 0px!important;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif!important;
    letter-spacing: 1px!important;
    margin-bottom: 100px;
    clear: both;
}

.custom-footer {
    max-width: 10px;
    position: fixed;
    bottom: 5px;
    right: 15px;
}

@media (min-width: 576px) { .custom-footer {
    max-width: 10px;
    position: fixed;
    bottom: 5px;
    right: 22px;
}
 }

.title-font{
    font-family: 'Special Elite', sans-serif;
    letter-spacing: 1.5px;
}

.email{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#promo-banner {
    background-color: rgb(236, 240, 243);
}

.hvr:hover {
    background-color: rgb(241, 244, 247);
}

.btn:hover {
    border-color: white;
}

.nav-item:hover, .active {
    color: rgb(146, 146, 146);
}

.premium-font{
    font-family: 'Knewave', sans-serif;
    letter-spacing: 1px;
}

.extra-padding-container {
    padding-top: 50px;
}


.navbar-light .navbar-toggler {
    border: none;
}

.search-custom {
    border-top: none;
    border-right: none;
    border-left: none;
    
}

.account-dropdown {
    padding-right: 10%;
}


/* ------------------------------- bootstrap toasts */



.update-link, 
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 5%;
    z-index: 99999999999;
}

.toast-custom{
    overflow: visible;
}

.basket-toast-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ------------------------------- typography */
.text-xs{
    font-size: .75rem;
}


/* ------------------------------- Allauth form  */

.allauth-form-inner-content input,
.allauth-form-inner-content input::placeholder {
        font-family: 'Special Elite', sans-serif;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}


.allauth-form-inner-content a {
	color: #212529
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {	
	color: #fff;
    background-color: #212529;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.border-custom-top {
    border-top: solid 1px black;
}

.border-custom-bottom {
    border-bottom: solid 1px black;
}

.up-button,
.down-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.up-link {
    font-size: 22px;
    cursor: pointer;
}


/* ------------------------------- Product & Recipe forms */

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top: 0;

}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.modal-link{
    cursor: pointer;
}