{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<style>
    footer {
    position: absolute;
    bottom: 0%;
    }
</style>
{% endblock %}

{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
               <p>Transaction Cancelled.</p>
               <a href="{% url 'subscriptions' %}" class="btn btn-dark p-2">Back to Premium</a>
            </div>
        </div>
    </div>    
{% endblock %}