{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <h2 class="d-flex justify-content-center">Subscription Plans</h2>
    </div>
    <div class="row my-4 ms-4">

        {% for subscription in subscriptions %}
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
  
                            {{ subscription.name }}
                            {{ subscription.price }}
                          <a href="{% url 'subscription_detail' subscription.id %}">details</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}