{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <img src="{% static 'images/crown.png' %}" alt="crown">
    <h3 class="my-3">Thank you for your payment. You are now a Premium Member!</h3>
    <p>Checkout out your newly aquired recipes <a href="{% url 'recipes' %}" class="text-reset hvr">here</a> or head to your <a href="{% url 'profile' %}" class="text-reset hvr">account</a> to manage your settings.</p>
</div>

<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block footer_position %}
    fixed-bottom
{% endblock %}