{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="my-3">Thank you for subscribing</h3>
    <p>View Recipes Here or Head to your account to manage your settings</p>
</div>

<div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock %}