{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
               <p>Transaction Cancelled.</p>
               <a href="{% url 'subscriptions' %}" class="btn btn-dark p-2"><small>Back to Premium</small></a>
            </div>
        </div>
    </div>    
{% endblock %}

{% block footer_position %}fixed-bottom{% endblock %}