<div class="collapse navbar-collapse" id="main-nav">
    <ul class="list-inline list-unstyled pt-3">
        <li class="list-inline-item">
            <button class="btn" type="button" id="shop-btn" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
            </button>
            <div class="dropdown-menu border-0 w-100 bg-white mt-3 py-3" aria-labelledby="shop-btn">
                <ul class="list-unstyled text-center" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'products' %}">All</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=tools">Tools</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=ingredients">Ingredients</a></li>
                </ul>
            </div>
        </li>

        <li class="list-inline-item">
            <a class="btn hvr" aria-current="page" href="{% url 'recipes' %}">Recipes</a>
        </li>

        <li class="list-inline-item">
            <a class="nav-link btn hvr" aria-current="page" href="{% url 'subscriptions' %}">Premium</a>
        </li>
    </ul>
</div>