<li class="list-inline-item">
    <a class="nav-link btn p-0 d-block d-lg-none" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-search btn"></i>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0 bg-light" aria-labelledby="navbarDropdown">
        <div class="row">
            <form class="form" method="GET" action="">
                <div class="input-group w-100">
                    <input class="form-control" type="text" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control form-control btn"
                            type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>
<li class="list-inline-item dropdown">
    <a class="nav-link btn p-0 d-block d-lg-none" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-user btn"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if request.user.is_authenticated %}
             {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="#">Product Management</a></li>
                    <li><a class="dropdown-item" href="#">Recipe Management</a></li>
             {% endif %}
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
        {% else %}
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Sign Up</a></li>
        {% endif %}
    </ul>
</li>
<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none btn" href="">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>

        </div>
    </a>
</li>