<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none btn" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-search btn"></i>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0 bg-light" aria-labelledby="navbarDropdown">
        <div class="row">
            <form class="form" method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control form-control btn"
                            type="submit">
                                <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</li>
<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none btn" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-user btn"></i>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0 bg-light" aria-labelledby="navbarDropdown">
        <div class="row">     
            <ul class="list-inline list-unstyled" aria-labelledby="navbarDropdown">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                            <li class="list-inline-item"><a class="dropdown-item" href="#">Product Management</a></li>
                            <li class="list-inline-item"><a class="dropdown-item" href="#">Recipe Management</a></li>
                    {% endif %}
                    <li class="list-inline-item"><a class="dropdown-item" href="#">Profile</a></li>
                    <li class="list-inline-item"><a class="dropdown-item" href="#">Logout</a></li>
                {% else %}
                    <li class="list-inline-item"><a class="dropdown-item" href="#">Login</a></li>
                    <li class="list-inline-item"><a class="dropdown-item" href="#">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</li>
<li class="list-inline-item">
    <a class="nav-link d-block d-lg-none btn" href="{% url 'view_basket' %}">
            <div><i class="fas fa-shopping-basket fa-lg"></i></div>
    </a>
</li>
