{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Basket</span>
                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
         
                <div class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Recipe Subscription</h6>
                        <small class="text-muted">{{ recipe|title }}</small>
                    </div>
                    <span class="text-muted">£{{ price }}</span>
                </div>

            <div class="text-center pt-3">
                <form action="{% url 'checkout_subscription' %}" method="POST" id="payment-form">
                    {% csrf_token %}

                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment</legend>
                    <!-- Stripe card element -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                     <input type="hidden" value="{{ subscription }}" name="subscription" />
                </fieldset>
                <div class="row submit-button">
                    <div class="col-12 col-md-6 order-md-last my-2">
                        <button id="submit-button" class="btn btn-dark text-light p-2 float-end me-2">
                            <span class="p-3">Complete Order</span>
                        </button>
                    </div>
                </div>
            </form>
  
                   
  
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    <script src="{% static 'checkout_subscriptions/js/stripe_elements.js' %}"></script>
{% endblock %}