{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your Basket</span>
                <span class="badge badge-secondary badge-pill">1</span>
            </h4>
         
                <div class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Recipe Subscription</h6>
                        <small class="text-muted">{{ recipe|title }}</small>
                    </div>
                    <span class="text-muted">£{{ price }}</span>
                </div>

            <div class="text-center pt-3">
                <form action="{% url 'checkout_subscription' %}" method="POST">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                        data-key="pk_test_51HvgcNC0y3iCJrXqhi04GCxf5kYhgPvHlcXuO2kaigKKurbsieGPc9GgdJ63XTLBmvAD9nIeyC1Qyml16AXHUouf00ogCGCDbc"
                        data-amount="£{{ price }}" 
                        data-name="Starter" 
                        data-description="Premium Subscription"
                        data-email="{{ user.email }}"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto">
                        </script>
                    <input type="hidden" value="{{ subscription }}" name="subscription" />
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
