{% load basket_tools %}

{% if item.product %}
    <tr>
        <td class="w-25">
            <img class="img-fluid" src="{{ item.product.image.url }}">
        </td>
        <td>
            <p class="m-0"><strong>{{ item.product.name }}</strong></p>
            {% if item.product.has_colours %}
                <p class="my-0 text-xs text-muted">{{ item.colour|title }}</p>
            {% endif %}
            <p class="text-xs text-muted">SKU: {{ item.product.sku|upper }}</p>
        </td>
        <td>
            <p>£{{ item.product.price }}</p>
        </td>
        <td>
            <form class="form update-form" method="POST" action="{% url 'update_basket' item.item_id 'product' %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend me-3">
                            <button class="decrement-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                id="decrement-qty_{{ item.item_id }}">
                                <i class="fas fa-minus fa-sm"></i>
                            </button>
                        </div>
                        <input class="border-0 qty_input text-xs" type="number" name="quantity" value="{{ item.quantity }}"
                            min="1" max="49" data-item_id="{{ item.item_id }}" id="id-qty_{{ item.item_id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-sm" data-item_id="{{ item.item_id }}"
                                id="increment-qty_{{ item.item_id }}">
                                <i class="fas fa-plus fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
                {% if item.product.has_colours %}
                    <input type="hidden" name="product_colour" value="{{ item.colour }}">
                {% endif %}
            </form>
            <a class="update-link text-xs text-muted text-decoration-none">Update Qty</a>
        </td>
        <td>
            <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
        </td>
        <td>
            <a class="remove-item text-decoration-none text-reset" id="remove_{{ item.item_id }}_product"
                data-product_colour="{{ item.colour }}">
                <i class="fas fa-times fa-sm"></i>
            </a>
        </td>
    </tr>

{% elif item.plan %}
    <tr>
        <td class="w-25">
            <img class="img-fluid" src="{{ item.plan.image.url }}">
        </td>
        <td>
            <p class="m-0"><strong>{{ item.plan.name }} Subscription</strong></p>
        </td>
        <td>
            <p>£{{ item.plan.price }}</p>
        </td>
        <td>
        <td>
            <a class="remove-item text-decoration-none text-reset" id="remove_{{ item.item_id }}_subscription">
                <i class="fas fa-times fa-sm"></i>
            </a>
        </td>
    </tr>
{% endif %}