{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container extra-padding-container">
    <div class="row">
        <div class="col">
            <h1 class="display-2">Page Not Found</h1>
            <h4 class="text-muted text-300">Sorry, this page is missing or does not exist.</h4>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_position %}fixed-bottom{% endblock %}