{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <style>
        .card {
            width: 20rem;
        }
    </style>
{% endblock %}


{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if profile.membership %}
            {% for recipe in recipes.all %}
                <li><a href="{% url 'recipe' recipe.id %}">{{ recipe.title }}</a></li>
            {% endfor %}
        {% else %}
            {% include 'recipes/includes/subscriptions.html' %}
        {% endif %}  
    </div>
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}