{% load static %}

<div class="row">
    <div class="col text-center">
        <h5 class="py-3">Subscribe for exclusive access to our recipes, tips, tricks and more!</h5>
        <p class="small text-muted">Cancel at any time</p>
        <p class="small text-muted">Use the code <strong>WELCOME10</strong> at checkout to get 10% off your first bill</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-5 offset-md-2">
        <div class="card border-0">
            <img src="{% static 'images/monthly.png' %}" class="card-img-top" alt="monthly image">
            <div class="card-body">
                <h5 class="card-title">Monthly Subscription</h5>
                <p class="card-text">£3.99 a Month</p>
                <a href="{% url 'subscription_checkout' %}?subscription=monthly" class="btn btn-dark text-light p-2 me-2">Continue with Monthly Subscription</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5">
        <div class="card border-0">
            <img src="{% static 'images/yearly.png' %}" class="card-img-top" alt="yearly image">
            <div class="card-body">
                <h5 class="card-title">Yearly Subscription</h5>
                <p class="card-text">£39.99 a Year</p>
                <a href="{% url 'subscription_checkout' %}?subscription=yearly" class="btn btn-dark text-light p-2 me-2">Continue with Yearly Subscription</a>
            </div>
        </div>
    </div>
</div>  