{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid extra-padding-container">
        <div class="row">
            <div class="col-12">
                <h2 class="d-flex justify-content-center">Shop</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                    <div class="d-flex justify-content-center">
                {% for c in current_category %}
                    <a class="text-decoration-none text-reset" href="{% url 'products' %}?category={{ c.name }}">
                        {{ c.friendly_name }}
                    </a>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row w-100 ">
             <div class="col-6">
                <p class="m-0">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <a class="text-reset" href="{% url 'products' %}">Shop All</a> | 
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="input-group w-50">
                    <select class="form-select border-0" id="sort-select">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        <option value="added_date_desc" {% if current_sorting == 'added_date_desc' %}selected{% endif %}>Recently Added<option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 g-5">
            {% for product in products %}
                <div class="col">
                    <div class="card border-0">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                            <p class="card-text"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#sort-select').change(function() {
            let selector = $(this);
            let currentUrl = new URL(window.location);

            let selectedVal = selector.val();
            if(selectedVal != "reset"){
                if(selectedVal == "added_date_desc"){
                    let sort = selectedVal.split("_desc")[0];
                    let direction = selectedVal.split("added_date_")[1];
                    
                    currentUrl.searchParams.set("sort", sort);
                    currentUrl.searchParams.set("direction", direction);
                    
                    window.location.replace(currentUrl);
                }
                else{
                    let sort = selectedVal.split("_")[0];
                    let direction = selectedVal.split("_")[1];
                   
                    currentUrl.searchParams.set("sort", sort);
                    currentUrl.searchParams.set("direction", direction);
                   
                    window.location.replace(currentUrl);
                }

            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}