{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-5">
            {
                <div class="col">
                    <div class="card border-0">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                            <p class="card-text"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
