{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="btn-group my-5">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>Sort Products By</strong>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a class="text-decoration-none text-reset" href="{% url 'products' %}?sort=price&direction=asc">By Price (low to high)</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-decoration-none text-reset"  href="{% url 'products' %}?sort=price&direction=desc">By Price (high to low)</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-decoration-none text-reset" href="{% url 'products' %}?sort=price&direction=asc">By Category</a>
                </li>
            </ul>
        </div>
        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 g-5">
            {% for product in products %}
                <div class="col">
                    <div class="card border-0">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
                            <p class="card-text"><strong>£{{ product.price }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container extra-padding-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
