<div class="toast toast-custom bg-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
  <div class="toast-header">
    <strong class="me-auto"><i class="fas fa-check"></i></strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body small">
         <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total %}
            <p class="py-1">Your Basket ({{ product_count }})</p>
            <div class="basket-toast-wrapper">
                {% for item in basket_items %}
                    {% if item.product %}
                        <div class="row">
                                <div class="col-3 my-1">
                                    <img class="w-100" src="{{ item.product.image.url }}">
                                </div>
                                <div class="col-9">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    {% if item.product.has_colours %}<p class="my-0 small">{{ item.colour|title }}</p>{% endif %}
                                    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                                </div>
                        </div>
                    {% elif item.subscription %}
                        <div class="row">
                            <div class="col-9">
                                <p class="my-0"><strong>{{ item.subscription.name }}</strong></p>
                                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <p class="mt-3 mb-1">
                        Total{% if free_shipping_delta > 0 %} (exc. shipping){% endif %}: 
                        <span class="float-end">£{{ total|floatformat:2 }}</span>
                    </p>
                    {% if free_shipping_delta > 0 %}
                        <p class="mt-3 mb-1">
                            Spend <strong>£{{ free_shipping_delta }}</strong> more for free shipping.
                        </p>
                    {% endif %}
                    <a class="mt-3 mb-1 text-reset text-decoration-none float-end" href="{% url 'view_basket' %}" class="btn">
                        <span><strong>Go to Basket</strong></span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        {% endif %}      
 
</div>
</div>